<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Roulette</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <section class="mainWrapper">
  <h1>Roulette</h1>
  <section class ="num_00">
      <div class="board green">00</div>
      <div class="board green">0</div>
    </section>

  <section class="gameBoard">
    <div class="board black"><span class="boardblack">03</span></div>
    <div class="board red"><span class="boardred">06</span></div>
    <div class="board black"><span class = "boardblack">09</span></div>
    <div class="board red"><span class="boardblack">12</span></div>
    <div class="board red"><span class ="boardblack">15</span></div>
    <div class="board black"><span class="boardblack">18</span></div>
    <div class="board black"><span class="boardblack">21</span></div>
    <div class="board red"><span class="boardred">24</span></div>
    <div class="board black"><span class= "boardblack">27</span></div>
    <div class="board black"><span class= "boardblack">30</span></div>
    <div class="board red"><span class="boardred">33</span></div>
    <div class="board black"><span class= "boardblack">36</span></div>
    <div class="board red"><span class= "boardred">02</span></div>
    <div class="board black"><span class= "boardblack">05</span></div>
    <div class="board red"><span class="boardred">08</span></div>
    <div class="board red"><span class="boardred">11</span></div>
    <div class="board red"><span class="boardblack">14</span></div>
    <div class="board red"><span class="boardred">17</span></div>
    <div class="board red"><span class="boardred">20</span></div>
    <div class="board black"><span class= "boardblack">23</span></div>
    <div class="board red"><span class="boardred">26</span></div>
    <div class="board red"><span class="boardred">29</span></div>
    <div class="board black"><span class= "boardblack">32</span></div>
    <div class="board red"><span class="boardred">35</span></div>
    <div class="board black"><span class ="boardblack">01</span></div>
    <div class="board red"><span class="boardred" >04</span></div>
    <div class="board black"><span class ="boardblack">07</span></div>
    <div class="board red"><span class="boardred">10</span></div>
    <div class="board red"><span class="boardred">13</span></div>
    <div class="board black"><span class="boardblack">16</span></div>
    <div class="board black"><span class="boardblack">19</span></div>
    <div class="board red"><span class="boardred">22</span></div>
    <div class="board black"><span class= "boardblack">25</span></div>
    <div class="board red"><span class="boardred">28</span></div>
    <div class="board red"><span class="boardred">31</span></div>
    <div class="board black"><span class= "boardblack">34</span></div>

    <section class="placeBeat">
    <div class="board midHalf">1nd 12</div>
    <div class="board hiHalf">2nd 12</div>
    <div class="board low bet">3rd 12</div>
    <div class="board even bet">RED </div>
    <div class="board red bet">EVEN</div>
    <div class="board black bet">BLACK</div>
    <div class="board odd bet">1 to 18</div>
    <div class="board high bet">ODD</div>
    <div class="board midHalf">19 to 36 </div>
  </section>
  </section>

  <section class="inputSection">
    <section class="contain bank">
      <h2>Bank</h2>
      <p>$<span id="userBank">10000</span></p>
    </section>
    <section class="contain inputs">
      <h2>Amount bet</h2>
      <p>$<input type="text" id="betInput" value="" placedholder="Place your bet!">
      <h2>Bet Chosen</h2>
      <section class="chosenBet">

        <p class="multiplier"></p>
      </section>

      <button id="betClick" type="button" name="button">Place Bet</button>

    </section>
    <section class="contain displayResult">
      <h2>Result</h2>
        <p id="result"></p>
    </section>
  </section>
</section>
  <script src="main.js" type="text/javascript"></script>
  </body>
</html>
